NEXT_PUBLIC_BOUNDLESS_API_PERMANENT_TOKEN=<< your permanent token here>>
NEXT_PUBLIC_BOUNDLESS_INSTANCE_ID=<ID>

#Specify, if you are using Stripe
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=<key>
# STRIPE_SECRET_KEY=<secret-key>
# To mark order as paid - needs token with management rights:
# BOUNDLESS_MANAGEMENT_TOKEN=<token>

# If you setup Update hook in Boundless-Commerce admin, specify sign key:
# WEBHOOK_SIGN_KEY=<key>

# For dev team:
# NEXT_PUBLIC_BOUNDLESS_API_BASE_URL=https://api.rick.dev.boundless-commerce.com
# NEXT_PUBLIC_BOUNDLESS_S3_PREFIX=dev-rick
# NEXT_PUBLIC_BOUNDLESS_MEDIA_SERVER=https://dev-img.boundless-commerce.com
